Question 1:
Install Spark and PySpark

Install Spark
Run PySpark
Create a local spark session
Execute spark.version.
What's the output?

Ans: 3.5.1


Question 2:
FHV October 2019

Read the October 2019 FHV into a Spark Dataframe with a schema as we did in the lessons.

Repartition the Dataframe to 6 partitions and save it to parquet.

What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.

1MB
6MB
25MB
87MB

Ans: 6MB

par_dfn=dfn.repartition(6).write.parquet("outputdfn.parquet")

Question 3:
Count records

How many taxi trips were there on the 15th of October?

Consider only trips that started on the 15th of October.

108,164
12,856
452,470
62,610

Ans:62610

spark.sql(" SELECT count(*) from df_newx where pickup_datetime BETWEEN '2019-10-15 00:00:00' AND '2019-10-15 23:59:59' ").show()

Question 4:
Longest trip for each day

What is the length of the longest trip in the dataset in hours?

631,152.50 Hours
243.44 Hours
7.68 Hours
3.32 Hours

Ans:631,152.50 Hours

spark.sql("SELECT DATEDIFF(hour,pickup_datetime,dropOff_datetime) as dur FROM df_newx order by dur DESC").show()

Question 5:
User Interface

Sparkâ€™s User Interface which shows the application's dashboard runs on which local port?

80
443
4040
8080

Ans: 4040


Question 6:
Least frequent pickup location zone

Load the zone lookup data into a temp view in Spark
Zone Data

Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?

East Chelsea
Jamaica Bay
Union Sq
Crown Heights North

Ans: Jamaica Bay


spark.sql("with cte1 as (SELECT * FROM df_newx inner join df_lookkx t1 on df_newx.PUlocationID=t1.LocationID), cte2 as (SELECT * FROM df_newx inner join df_lookkx t2 on df_newx.DOlocationID=t2.LocationID) select zone,count(cte1.Zone) from cte1 group by cte1.Zone order by count(cte1.Zone)").show()